h1 {
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 1px 1px 1px gray;
}

h2 {
    font-size: 22px;
    padding: 20px 0;
}

h3 {
    font-size: 18px;
}

html {
    background-color:slategray
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: mistyrose;
    padding: 0 20px 20px 20px;
    border: 5px solid darkgray;
    border-radius: 10px;
}

img {
    display: block;
}

#writersDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#artistLink {
    margin: 0 auto 0 auto;
}